
E-CommerceRookie.BE/BackendAPI/.vs/

E-CommerceRookie.BE/BackendAPI/MidAssignment.API/bin/
E-CommerceRookie.BE/BackendAPI/MidAssignment.API/obj/

E-CommerceRookie.BE/BackendAPI/MidAssignment.Application/bin/
E-CommerceRookie.BE/BackendAPI/MidAssignment.Application/obj/

E-CommerceRookie.BE/BackendAPI/MidAssignment.Domain/bin/
E-CommerceRookie.BE/BackendAPI/MidAssignment.Domain/obj/

E-CommerceRookie.BE/BackendAPI/MidAssignment.Infrastructure/bin/
E-CommerceRookie.BE/BackendAPI/MidAssignment.Infrastructure/obj/
E-CommerceRookie.BE/BackendAPI/MidAssignment.Shared/obj/
E-CommerceRookie.BE/BackendAPI/MidAssignment.Shared/bin/
E-CommerceRookie.BE/BackendAPI/MidAssignment.UI/obj/
E-CommerceRookie.BE/BackendAPI/MidAssignment.UI/bin/

E-CommerceRookie.BE/BackendAPI/MidAssignment.UnitTest/obj/
E-CommerceRookie.BE/BackendAPI/MidAssignment.UnitTest/bin/
